@use "variables";

/* This stylesheet contains only styles related to the vacuum robot functionality */

#vacuum-robot-window {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#vacuum-robot-power-button {
    width: 35px;
    height: 35px;
    font-size: 25px;
    justify-content: center;
    box-shadow: variables.$default-box-shadow;
    align-items: center;
}

#vacuum-robot-power-button {
    width: 185px;
}